.section2 {
  display: flex;
  gap: 140px;
  width: 100%;
  position: relative;
  margin-top: -180px;
  // padding: 10px 0 40px 0;
  padding-bottom: 70px;
  z-index: 1;

  &__title {
    flex: 0 2 460px;
  }

  &__toggle {
    flex: 1 1 560px;

    &_text {
      margin-top: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section2 {
    gap: 79px;
    margin-top: -120px;
    padding-bottom: 40px;
  }

  .section2__toggle_text {
    margin-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .section2 {
    flex-direction: column;
    gap: 22px;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 38px;

    &__title {
      flex: none;
    }

    &__toggle {
      flex: none;
      display: flex;
      flex-direction: column;
    }
  }
}
