.burger-wrapper {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  border: none;
  background: transparent;
  width: 22px;
  height: 16px;
}

.burger__line {
  display: block;
  width: 22px;
  height: 2px;
  background: var(--color-orange);
  border-radius: 10px;
  transition: width 0.3s;

  &::before {
    top: 0;
    transition:
      top 0.3s 0.15s,
      transform 0.3s;
  }

  &::after {
    bottom: 0;
    transition:
      bottom 0.3s 0.15s,
      transform 0.3s;
  }
}

.burger__line::before,
.burger__line::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--color-orange);
  border-radius: 10px;
}

.burger__line-active {
  width: 0;
  transition: width 0.3s;

  &::before {
    top: 7px;
    transform: rotate(45deg);
    transition:
      top 0.3s,
      transform 0.3s 0.15s;
  }

  &::after {
    bottom: 7px;
    transform: rotate(-45deg);
    transition:
      bottom 0.3s,
      transform 0.3s 0.15s;
  }
}

@media (max-width: 320px) {
  .burger-wrapper {
    width: 32px;
    height: 32px;
  }

  .burger {
    width: 15px;
    height: 12px;
  }

  .burger__line {
    width: 15px;
    height: 1.5px;
  }

  .burger__line::before,
  .burger__line::after {
    width: 15px;
    height: 1.5px;
  }

  .burger__line-active {
    width: 0;

    &::before {
      top: 5.2px;
    }

    &::after {
      bottom: 5.2px;
    }
  }
}
