.h1-bold {
  font: var(--font-bold-h1);
}

.h2-bold {
  font: var(--font-bold-h2);
}

.h3-bold- {
  font: var(--font-bold-h3);
}

.h3-regular {
  font: var(--font-regular-h3);
}

.font-button {
  font: var(--font-button);
}

.paragraph22-regular {
  font: var(--paragraph22_regular);
}

.paragraph18_regular {
  font: var(--paragraph18_regular);
}

.paragraph14_regular {
  font: var(--paragraph14_regular);
}
