.common {
  --color-white: #fff;
  --color-black: #1d1d1b;
  --color-total-black: #000;
  --color-error: #ff4026;
  --color-orange: #ff5900;
  --color-dark-orange: #e0570e;

  --color-gray-01: #a4adac;
  --color-gray-02: #d6dbdb;
  --color-gray-03: #e8edee;
  --color-gray-04: #f2f6f6;
}
